.bd_color {
    background-color: #713434 ;
}

#con_color {
    background-color: white;
}

#jumbo_color{
    background-color: #cbc2b5;
    color: white;
}

#button_color{
    background-color: #483a5a;
}
